.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }

  .head {
    display: flex;
    width: 100%;
    gap: 6px;
    justify-content: center;
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }




  .btnenv {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  .btnenv:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .btnenv:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btnenv span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  .btnenv svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  .btnenv .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  .btnenv:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .btnenv:hover svg {
    transform: rotate(45deg);
  }
  

  
  .buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: #4CC713;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
   }
   
   .buttonDownload:hover {
    background-color: #45a21a;
    color: white;
   }
   
   .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
   }
   
   .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
   }
   
   .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
   }
   
   .buttonDownload:hover:before {
    border-color: #cdefbd;
   }
   
   .buttonDownload:hover:after {
    border-top-color: #cdefbd;
    animation-play-state: running;
   }
   
   @keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -15px;
     opacity: 0.4;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 0;
     opacity: 0.4;
    }
   }



   .download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #0135e0;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }